<h1>
   Interviews with <%= @job_application.company_name %>
</h1>
<hr>

<div>
  <%= link_to 'Go back', job_application_path(@job_application) %>
</div>
<div>
  <%= link_to 'Add Interview', new_job_application_interview_path %>
</div>

<hr>

<article>
  <ul>
    <% @interviews.each do |interview| %>
      <li>
        <%= link_to  "#{interview.interview_type} Interview", interview_path(interview.id) %>
      </li>
    <% end %>
  </ul>
</article>

<hr>
