<h1>
  List of all job applications
</h1>
<hr>

<div>
  <%= link_to 'New Application', new_job_application_path %>
</div>

<hr>

<article>
  <ul>
    <% @job_applications.each do |job_application| %>
      <li>
        <a href="/job_applications/<%= job_application.id %>">
          <%= job_application.role %> at <%= job_application.company_name%>
        </a>
      </li>
    <% end %>
  </ul>
</article>

<hr>
