<h1>
  List of all interviews
</h1>

<hr>

<article>
  <header>
    <h2>
      Add a new interview
    </h2>
  </header>

  <form action="/insert_interview" method="post">
    <div>
      <label for="application_id_box">
        Application
      </label>

      <input type="text" id="application_id_box" name="query_application_id">
    </div>

    <div>
      <label for="interview_type_box">
        Interview type
      </label>

      <input type="text" id="interview_type_box" name="query_interview_type">
    </div>

    <div>
      <label for="date_of_box">
        Date of
      </label>

      <input type="date" id="date_of_box" name="query_date_of">
    </div>

    <div>
      <label for="outcome_box">
        Outcome
      </label>

      <input type="text" id="outcome_box" name="query_outcome">
    </div>

    <div>
      <label for="notes_box">
        Notes
      </label>

      <input type="text" id="notes_box" name="query_notes">
    </div>

    <button type="submit">
      Create interview
    </button>
  </form>
</article>

<hr>

<article>
  <ul>
    <% @list_of_interviews.each do |an_interview| %>
      <li>
        <a href="/interviews/<%= an_interview.id %>">
          Interview #<%= an_interview.id %>
        </a>
      </li>
    <% end %>
  </ul>
</article>

<hr>
