<h1>
  List of all learning items
</h1>

<hr>

<article>
  <header>
    <h2>
      Add a new learning item
    </h2>
  </header>

  <form action="/insert_learning_item" method="post">
    <div>
      <label for="reflection_id_box">
        Reflection
      </label>

      <input type="text" id="reflection_id_box" name="query_reflection_id">
    </div>

    <div>
      <label for="category_box">
        Category
      </label>

      <input type="text" id="category_box" name="query_category">
    </div>

    <div>
      <label for="description_box">
        Description
      </label>

      <input type="text" id="description_box" name="query_description">
    </div>

    <div>
      <label for="status_box">
        Status
      </label>

      <input type="text" id="status_box" name="query_status">
    </div>

    <button type="submit">
      Create learning item
    </button>
  </form>
</article>

<hr>

<article>
  <ul>
    <% @learning_items.each do |learning_item| %>
      <li>
        <a href="/learning_items/<%= learning_item.id %>">
          Learning item #<%= learning_item.id %>
        </a>
      </li>
    <% end %>
  </ul>
</article>

<hr>
