<h1>
  List of all learning items
</h1>

<hr>


<article>
  <ul>
    <% @learning_items.each do |learning_item| %>
      <li>
        <a href="/learning_items/<%= learning_item.id %>">
          Learning item #<%= learning_item.id %>
        </a>
      </li>
    <% end %>
  </ul>
</article>

<hr>
